<!-- footer.html -->
<div th:fragment="footerFragment" id="footer">
    <div class="head">
        <a href="">위치기반서비스 이용약관</a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        <a href="">이용약관</a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        <a href="">개인정보 처리방침</a>

    </div>

    <div class="inprotlink">
<!--        <a href="javascript:copyToClipBoard2();">웹모바일 공유</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--        <a href="javascript:copyToClipBoard3();">구글 스토어 다운링크</a>-->
    </div>

    <div class="inner">
        <div class="foot">
            <address>
                <span>상호명 : tttt</span>
                <span>사업자번호 : 123-12-12345</span>
                <span>대표자 : 홍길동</span>
                <span>이메일 : tt@tttt.info</span>
                <span>통신판매신고번호 : 2024-tttt-1455호</span>
            </address>
        </div>
    </div>
</div>
