<!DOCTYPE html>
<html lang="ko">
<head th:replace="head :: commonHead"></head>

<form name="form1" id="form1" action="#" method="post">
    <input type="hidden" name="XX"/>
    <input type="hidden" name="YY"/>
</form>
<div id="wrap" class="main">


    <header th:replace="~{header :: commonHeader}"></header>

    <div id="display">
        <dl>
            <dt><span>매장 수</span></dt>
            <dd>
                <p><span class="_count">441</span></p>
            </dd>
        </dl>

        <dl>
            <dt><span>평균 시세</span></dt>
            <dd>
                <p><span class="_count">34,679</span> 원</p>
            </dd>
        </dl>

        <dl>
            <dt><span>결제 비율</span></dt>
            <dd>
                <p><span class="_count">51</span> %</p>
            </dd>
        </dl>
    </div>

    <script>
        $('._count').flipping_text({
            tickerTime: 12,
            tickerCount: 24,
            customRandomChar: '1234567890'
        });
    </script>

    <div id="main">
        <div class="section section1 fp-auto-height">
            <div id="">

            </div>
        </div>
        <!-- 커뮤니티 시작 -->
        <div class="section section8 fp-auto-height">
            <div class="board" style="padding:20px 15px;">
                <div class="inner">

                    <script async
                            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4733467491457270"
                            crossorigin="anonymous"></script>
                    <!-- 메인 -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-4733467491457270"
                         data-ad-slot="1707863607"
                         data-ad-format="auto"
                         data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>

                    <br><br>

                    <p class="dis_Play" style="text-align:center; margin-bottom:50px;">-------------------- 광고
                        --------------------</p>
                    <div class="box">
                        <div class="tit">
                            <h3>공지사항</h3>
                            <a href="./sub05_02.html">더보기 +</a>
                        </div>
                        <div class="list">
                            <a href="./sub05_02.html?board_code=view&bbs_no=552&page=1">
                                <strong>불법스팸문자 신고안내</strong>
                                <span>2024.08.05</span>
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="tit">
                            <h3>이벤트</h3>
                            <a href="./sub04_01.html">더보기 +</a>
                        </div>
                        <div class="list">
                            <a href="/sub04_02.html?board_code=view&bbs_no=528&page=1">
                                <strong>[진행중] 서울모발관리센터 이전 오픈기념으로 헤어부분 파이100% 결제 이벤트 진행합니다</strong>
                                <span>2024.10.29</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section4 fp-auto-height">
            <div class="inner">
                <div class="ntit">
                    <h3>Pi상품</h3>
                    <a href="/recommend.html">더보기 +</a>
                </div>
                <div class="__pdt search" id="shoppib">
                    <div class="__box">
                        <div class="in">
                            <div class="img"><a href="./recommend_view.html?NO=543&B_CATE=287"><i
                                    style="background-image:url(/NEW_MASTER/goods/Download/pis_20240706090735.jpg);"></i></a>
                            </div>
                            <div class="info">
                                <div class="ddakji"><span class="__ico orangeLine">온/오프라인</span></div>
                                <p class="subject"><a href="./recommend_view.html?NO=543&B_CATE=287">백우산양봉원</a></p>
                                <p class="sum">&nbsp;

                                </p>
                                <div class="pi">
                                    <p class="sale">50%</p>
                                    <ul class="inf">
                                        <li>1Pi당 10,000원</li>
                                        <li>광주 광산구 고봉로 956-...&nbsp;</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="__box">
                        <div class="in">
                            <div class="img"><a href="./recommend_view.html?NO=536&B_CATE=287"><i
                                    style="background-image:url(/NEW_MASTER/goods/Download/pis_20240625210657.jpg);"></i></a>
                            </div>
                            <div class="info">
                                <div class="ddakji"><span class="__ico orangeLine">온/오프라인</span></div>
                                <p class="subject"><a href="./recommend_view.html?NO=536&B_CATE=287">윈빛코리아</a></p>
                                <p class="sum">


                                </p>
                                <div class="pi">
                                    <p class="sale">50%</p>
                                    <ul class="inf">
                                        <li>1Pi당 20,000원</li>
                                        <li>경기 용인시 기흥구 동백중...&nbsp;</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="__box">
                        <div class="in">
                            <div class="img"><a href="./recommend_view.html?NO=520&B_CATE=281"><i
                                    style="background-image:url(/NEW_MASTER/goods/Download/pis_20240527090540.jpg);"></i></a>
                            </div>
                            <div class="info">
                                <div class="ddakji"><span class="__ico orangeLine">온/오프라인</span></div>
                                <p class="subject"><a href="./recommend_view.html?NO=520&B_CATE=281">보험컨설팅</a></p>
                                <p class="sum">&nbsp;


                                    &nbsp;
                                </p>
                                <div class="pi">
                                    <p class="sale">100%</p>
                                    <ul class="inf">
                                        <li>1Pi당 10,000원</li>
                                        <li>서울 영등포구 영중로 15&nbsp;</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="__box">
                        <div class="in">
                            <div class="img"><a href="./recommend_view.html?NO=516&B_CATE=277"><i
                                    style="background-image:url(/NEW_MASTER/goods/Download/pis_20240521180530.jpg);"></i></a>
                            </div>
                            <div class="info">
                                <div class="ddakji"><span class="__ico orangeLine">온/오프라인</span></div>
                                <p class="subject"><a href="./recommend_view.html?NO=516&B_CATE=277">하루이야기</a></p>
                                <p class="sum">&nbsp;

                                    &nbsp;

                                    &nbsp;

                                    &nbsp;
                                </p>
                                <div class="pi">
                                    <p class="sale">70%</p>
                                    <ul class="inf">
                                        <li>1Pi당 60,000원</li>
                                        <li>광주 북구 하남대로 821&nbsp;</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="__box">
                        <div class="in">
                            <div class="img"><a href="./recommend_view.html?NO=486&B_CATE=287"><i
                                    style="background-image:url(/NEW_MASTER/goods/Download/pis_20241014001028.jpg);"></i></a>
                            </div>
                            <div class="info">
                                <div class="ddakji"><span class="__ico violet">온라인</span></div>
                                <p class="subject"><a href="./recommend_view.html?NO=486&B_CATE=287">영웅식품</a></p>
                                <p class="sum">&nbsp;
                                    한우사골곰탕/고기곰탕/제육볶음/간장불고기/만능볶음소스 제조하는 식품회사입니다.
                                    온라인판매로 생태계참여 하고자 글 남깁니다.
                                    구매문의 : 010-2855-4672


                                    입금계좌 : 농협 302.1215.9255.31박복선
                                    지갑주소 : GBKKEBQYZYBLZMUOC3BMZEWH77ZAJPBAYBHBAIOWC6ZDQVRZVEAS3YT4
                                    &nbsp;


                                    &nbsp;
                                </p>
                                <div class="pi">
                                    <p class="sale">50%</p>
                                    <ul class="inf">
                                        <li>1Pi당 10,000원</li>
                                        <li>부산 사상구 낙동대로 12...&nbsp;</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="__moreb mt_Rset" id="moreb486">
                        <a href="javascript:;" class="moreb" id="486">더보기</a>
                    </div>
                </div>
            </div>

            <div class="inner mt80">
                <div class="ntit">
                    <h3>100% Pi결제매장</h3>
                    <a href="/hundred">더보기 +</a>
                </div>
                <div class="__pdt search" id="shoppia">
                    <div class="__box">
                        <div class="in">
                            <div class="img"><a href="./sub01_01_view.html?NO=617&B_CATE=277"><i
                                    style="background-image:url(/NEW_MASTER/goods/Download/pis_20241021191004.jpg);"></i></a>
                            </div>
                            <div class="info">
                                <div class="ddakji"><span class="__ico blueLine">매장사용</span></div>
                                <p class="subject"><a href="./sub01_01_view.html?NO=617&B_CATE=277">착한명태</a></p>
                                <p class="sum">&nbsp;
                                    시래기명태조림 맛집입니다.
                                    점심때엔 1인분11000원에 시래기 좋아하신분들은 시래기 추가3000원 추가하여 즐겨드실수 있습니다.
                                    애들도 같이 먹을수 있는 사이드메뉴 만두나.돈가스. 새우튀김. 황태해장국도 있습니다.

                                </p>
                                <div class="pi">
                                    <p class="sale">100%</p>
                                    <ul class="inf">
                                        <li>1Pi당 10,000원</li>
                                        <li>경남 진주시 진주성로 89&nbsp;</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="__box">
                        <div class="in">
                            <div class="img"><a href="./sub01_01_view.html?NO=609&B_CATE=277"><i
                                    style="background-image:url(/NEW_MASTER/goods/Download/pis_20241016171027.jpg);"></i></a>
                            </div>
                            <div class="info">
                                <div class="ddakji"><span class="__ico blueLine">매장사용</span></div>
                                <p class="subject"><a href="./sub01_01_view.html?NO=609&B_CATE=277">생바지락칼제비</a></p>
                                <p class="sum">&nbsp;
                                    강원특별자치도 강릉시 교동택지에 위치한 생바지락칼제비 입니다.
                                    영업시간,메뉴,위치등 매장에 대한 자세한 사항은 네이버에 잘 안내되어 있습니다.
                                    라스트 오더 이전에 바지락이 소진 되면 조기마감 됩니다.


                                    &nbsp;
                                </p>
                                <div class="pi">
                                    <p class="sale">100%</p>
                                    <ul class="inf">
                                        <li>1Pi당 10,000원</li>
                                        <li>강원특별자치도 강릉시 하...&nbsp;</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="__box">
                        <div class="in">
                            <div class="img"><a href="./sub01_01_view.html?NO=605&B_CATE=286"><i
                                    style="background-image:url(/NEW_MASTER/goods/Download/pis_20241014151031.jpg);"></i></a>
                            </div>
                            <div class="info">
                                <div class="ddakji"><span class="__ico blueLine">매장사용</span></div>
                                <p class="subject"><a href="./sub01_01_view.html?NO=605&B_CATE=286">대신암</a></p>
                                <p class="sum">


                                    신점, 영점, 사주궁합
                                    연애,재회 상담
                                    매매, 사업 상담
                                    문의 : 010-6488-1144


                                    &nbsp;
                                </p>
                                <div class="pi">
                                    <p class="sale">100%</p>
                                    <ul class="inf">
                                        <li>1Pi당 10,000원</li>
                                        <li>대전 중구 보문로 95&nbsp;</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="__box">
                        <div class="in">
                            <div class="img"><a href="./sub01_01_view.html?NO=603&B_CATE=276"><i
                                    style="background-image:url(/NEW_MASTER/goods/Download/pis_20241014011042.jpg);"></i></a>
                            </div>
                            <div class="info">
                                <div class="ddakji"><span class="__ico blueLine">매장사용</span></div>
                                <p class="subject"><a href="./sub01_01_view.html?NO=603&B_CATE=276">2018평창공인중개사사무소</a>
                                </p>
                                <p class="sum">&nbsp;
                                    스키의 발상지 이자, 2018평창동계올림픽의 주무대 평창 대관령면에 위치하고 있는 2018평창공인중개사 이수범 입니다.
                                    인근에 용평리조트와 알펜시아리조트 있어, 스키와 골프 등 사계절 종합 휴양 관광지로 각광 받고 있으며, 년중 많은 관광객이 즐겨 찾는 곳입니다.
                                    대관령 평균 해발 750고지로 국내에서 최고 시원한 청정 자연환경 지역입니다.!
                                    평창 부동산에 관심 있으신 고객님께서 언제든지 문의 주시면 성심껏 상담드리겠습니다.
                                    주요 취급 물건

                                    &nbsp;
                                </p>
                                <div class="pi">
                                    <p class="sale">100%</p>
                                    <ul class="inf">
                                        <li>1Pi당 20,000원</li>
                                        <li>강원특별자치도 평창군 대관...&nbsp;</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="__box">
                        <div class="in">
                            <div class="img"><a href="./sub01_01_view.html?NO=585&B_CATE=288"><i
                                    style="background-image:url(/NEW_MASTER/goods/Download/pis_20240920110901.jpg);"></i></a>
                            </div>
                            <div class="info">
                                <div class="ddakji"><span class="__ico orangeLine">온/오프라인</span></div>
                                <p class="subject"><a href="./sub01_01_view.html?NO=585&B_CATE=288">주식회사 올테크</a></p>
                                <p class="sum">
                                    &nbsp;

                                    &nbsp;
                                </p>
                                <div class="pi">
                                    <p class="sale">100%</p>
                                    <ul class="inf">
                                        <li>1Pi당 10,000원</li>
                                        <li>대구 서구 국채보상로 34&nbsp;</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="__more" id="more585">
                        <a href="javascript:;" class="more" id="585">더보기</a>
                    </div>
                    <!-- 구글광고 230201 시작 -->

                    <!-- 구글광고 230201 끝 -->
                </div>
            </div>

            <div class="inner mt80">
                <div class="ntit">
                    <h3>최근 신규매장 <span class="tit_undeT">(최근 30개 매장이 보여집니다.)</span></h3>
                </div>
                <div class="__pdt gallery">
                    <!-- <h3>최근 신규매장 <span class="tit_undeT">(최근 30개 매장이 보여집니다.)</span></h3> -->
                    <div class="roll swiper-wrapper">
                        <div class="__box swiper-slide box0">
                            <a href="./sub01_01_view.html?NO=619&B_CATE=281" class="in">
                                <div class="img"><a href="./sub01_01_view.html?NO=619&B_CATE=281"><i
                                        style="background-image:url(/NEW_MASTER/goods/Download/pis_20241028171015.jpg);"></i></a>
                                </div>
                                <div class="info">
                                    <div class="ddakji"><span class="__ico blueLine">매장사용</span></div>
                                    <p class="subject"><a href="./sub01_01_view.html?NO=619&B_CATE=281">마이향 </a></p>
                                    <p class="sum">&nbsp;
                                        1. 옻칠이 되지 않아 칠이 벗겨질일이 없는 티크목 통도마, 주방기구 판매.
                                        2. 각종 원목 조각품
                                        3. 뿌리공예
                                        4. 참향팔찌 및 조각품
                                        5. 원목탁자 및 화분 받침대
                                        6. 각종 원목 소품

                                        &nbsp;
                                    </p>
                                    <div class="pi">
                                        <p class="sale">50%</p>
                                        <ul class="inf">
                                            <!--<li>0원</li>-->
                                            <li>1Pi당 10,000원</li>
                                            <li>전북특별자치도 진안군 마령...&nbsp;</li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="__box swiper-slide box1">
                            <a href="./sub01_01_view.html?NO=618&B_CATE=277" class="in">
                                <div class="img"><a href="./sub01_01_view.html?NO=618&B_CATE=277"><i
                                        style="background-image:url(/NEW_MASTER/goods/Download/pis_20241022151013.jpg);"></i></a>
                                </div>
                                <div class="info">
                                    <div class="ddakji"><span class="__ico blueLine">매장사용</span></div>
                                    <p class="subject"><a href="./sub01_01_view.html?NO=618&B_CATE=277">스카이라이브7080 </a>
                                    </p>
                                    <p class="sum">
                                        &nbsp;
                                        &nbsp;
                                    </p>
                                    <div class="pi">
                                        <p class="sale">50%</p>
                                        <ul class="inf">
                                            <!--<li>0원</li>-->
                                            <li>1Pi당 10,000원</li>
                                            <li>대구 달서구 달구벌대로25...&nbsp;</li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="__box swiper-slide box2">
                            <a href="./sub01_01_view.html?NO=617&B_CATE=277" class="in">
                                <div class="img"><a href="./sub01_01_view.html?NO=617&B_CATE=277"><i
                                        style="background-image:url(/NEW_MASTER/goods/Download/pis_20241021191004.jpg);"></i></a>
                                </div>
                                <div class="info">
                                    <div class="ddakji"><span class="__ico blueLine">매장사용</span></div>
                                    <p class="subject"><a href="./sub01_01_view.html?NO=617&B_CATE=277">착한명태 </a></p>
                                    <p class="sum">&nbsp;
                                        시래기명태조림 맛집입니다.
                                        점심때엔 1인분11000원에 시래기 좋아하신분들은 시래기 추가3000원 추가하여 즐겨드실수 있습니다.
                                        애들도 같이 먹을수 있는 사이드메뉴 만두나.돈가스. 새우튀김. 황태해장국도 있습니다.

                                        &nbsp;
                                    </p>
                                    <div class="pi">
                                        <p class="sale">100%</p>
                                        <ul class="inf">
                                            <!--<li>0원</li>-->
                                            <li>1Pi당 10,000원</li>
                                            <li>경남 진주시 진주성로 89&nbsp;</li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="__box swiper-slide box3">
                            <a href="./sub01_01_view.html?NO=616&B_CATE=278" class="in">
                                <div class="img"><a href="./sub01_01_view.html?NO=616&B_CATE=278"><i
                                        style="background-image:url(/NEW_MASTER/goods/Download/pis_20241021121054.jpg);"></i></a>
                                </div>
                                <div class="info">
                                    <div class="ddakji"><span class="__ico blueLine">매장사용</span></div>
                                    <p class="subject"><a href="./sub01_01_view.html?NO=616&B_CATE=278">팔공점핑 다이어트 </a>
                                    </p>
                                    <p class="sum">&nbsp;
                                        ▶▶▶▶▶ 1개월 점핑(반신욕 포함) 비용 ◀◀◀◀◀
                                        ♥ 파이 5개 + 5만원(형금또는카드)
                                        ▶▶▶▶▶ 운영시간 ◀◀◀◀◀
                                        ♥ 오후반만 운영중(17:00~21:00)
                                        ♥ 점핑으로 다이어트 하실분 연락 주세요!
                                        ♥ 뼈만 빼고 다 빼드립니다♥
                                        ♥전화 문의 환영합니다.
                                        ☎ 010-8993-7949
                                        &nbsp;

                                    </p>
                                    <div class="pi">
                                        <p class="sale">50%</p>
                                        <ul class="inf">
                                            <!--<li>0원</li>-->
                                            <li>1Pi당 10,000원</li>
                                            <li>광주 서구 풍암순환로 10&nbsp;</li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="__box swiper-slide box4">
                            <a href="./sub01_01_view.html?NO=615&B_CATE=277" class="in">
                                <div class="img"><a href="./sub01_01_view.html?NO=615&B_CATE=277"><i
                                        style="background-image:url(/NEW_MASTER/goods/Download/pis_20241020151006.jpeg);"></i></a>
                                </div>
                                <div class="info">
                                    <div class="ddakji"><span class="__ico blueLine">매장사용</span></div>
                                    <p class="subject"><a href="./sub01_01_view.html?NO=615&B_CATE=277">그레이스커피 </a></p>
                                    <p class="sum">&nbsp;
                                        신규오픈 매장입니다.
                                        많은 관심부탁드리겠습니다.
                                        이용문의 :&nbsp;010-2085-4554
                                        &nbsp;
                                    </p>
                                    <div class="pi">
                                        <p class="sale">20%</p>
                                        <ul class="inf">
                                            <!--<li>0원</li>-->
                                            <li>1Pi당 10,000원</li>
                                            <li>경기 안산시 상록구 석호...&nbsp;</li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="__box swiper-slide box5">
                            <a href="./sub01_01_view.html?NO=614&B_CATE=278" class="in">
                                <div class="img"><a href="./sub01_01_view.html?NO=614&B_CATE=278"><i
                                        style="background-image:url(/NEW_MASTER/goods/Download/pis_20241019161025.jpg);"></i></a>
                                </div>
                                <div class="info">
                                    <div class="ddakji"><span class="__ico blueLine">매장사용</span></div>
                                    <p class="subject"><a href="./sub01_01_view.html?NO=614&B_CATE=278">코스믹에너지 컴퍼니 </a>
                                    </p>
                                    <p class="sum">&nbsp;
                                        디지털싱글 음원을 제작하여 음원사이트(멜론ㆍ벅스ㆍ지니등 다수) 에 발매합니다ㆍ평소 노래를 좋아하시거나 노래를 잘한다는 말을 자주 들으시는분들의
                                        많은 참여바랍니다ㆍ진행할까말까 저또한 망설였지만 그래도 파이코인으로 음원발매는 제가 최초라는 나름의 자부심이 생겨서 글을 올리게되었습니다ㆍ


                                        디지털싱글 한곡기준 파이로 200파이+현금70만 (단, 100프로 결제시 500파이) 입니다ㆍ
                                        협의하에 어느정도 네고도 가능합니다ㆍ꽉막힌 사람아니니깐 편하게 문의주시고 또한 앞으로 파이가격의 확정된 윤곽이 나올경우 결재비율과 결재파이숫자는
                                        그에 걸맞게 변동될 수 있습니다ㆍ
                                        아이돌과 mz세대들 음악은 제외하며 레트로풍발라드 또는 성인발라드ㆍ트로트ㆍ세미트로트ㆍ7080ㆍ8090스타일의 노래들 그외 몽환적 뉴에이지스타일과
                                        일렉트로니카 느낌의곡들 또한 가능합니다ㆍ
                                        작사와 작곡 그리고 편곡 녹음 튜닝 믹싱 마스터링 앨범자켓 한곡이 완성되어 음원에 등록이 될때까지의 모든 비용입니다ㆍ


                                        심각하게 음치이시거나 박치이신분들은 죄송하지만 정중히 거절하겠습니다ㆍ
                                        첫미팅때 결재의 50프로를 받고 녹음하는날 녹음마치고 나머지 결재하시면됩니다ㆍ 미팅전 통화시에 본인이 직접부르신 노래들 좋아하는곡들로 3곡정도
                                        1절씩만 휴대폰으로 전송해주시면 가능여부와 스타일ㆍ음역대ㆍ어울리는 곡의 구상등을 하도록 하겠습니다ㆍ
                                        데뷔는 20년차이고 현재 저작권협회와 미등록음원포함 200여곡 가까이 작사나 작곡 편곡을 했습니다ㆍ
                                        열정이 있으시고 기본매너가 갖춰지신 분들께는 특히나 실망시켜드리지 않을것입니다ㆍ과한 찔러보기는 아파요


                                        hp: 010 - 8480 - 4983
                                        (문자로 문의먼저 주십시요)


                                        ※ 저번에 제가 개인적으로 일시적할인 프로젝트를 진행하였었는데 일시 프로젝트는 마감되었습니다ㆍ몇분께서 문의를 주셨는데 망설이시는분들도 계셨고
                                        그중에 너무 열정적이시고 노래를 사랑하시는 파이결재1호 가수님이 탄생하였습니다ㆍ10월 31일 낮12시에 음원사이트에 발매됩니다
                                        가수: 영재 제목: 달력앞에서
                                        장르: 어덜트컨템포러리 (레트로 감성발라드) 많은 관심 부탁드립니다 ※



                                        &nbsp;
                                    </p>
                                    <div class="pi">
                                        <p class="sale">74%</p>
                                        <ul class="inf">
                                            <!--<li>0원</li>-->
                                            <li>1Pi당 10,000원</li>
                                            <li>서울 구로구 경인로47다...&nbsp;</li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="__box swiper-slide box6">
                            <a href="./sub01_01_view.html?NO=613&B_CATE=277" class="in">
                                <div class="img"><a href="./sub01_01_view.html?NO=613&B_CATE=277"><i
                                        style="background-image:url(/NEW_MASTER/goods/Download/pis_20241019111026.jpg);"></i></a>
                                </div>
                                <div class="info">
                                    <div class="ddakji"><span class="__ico blueLine">매장사용</span></div>
                                    <p class="subject"><a href="./sub01_01_view.html?NO=613&B_CATE=277">또봉이통닭 덕풍점 </a>
                                    </p>
                                    <p class="sum">&nbsp;
                                        옛날통닭 또봉이 호프
                                        문의 : 010-9911-5471

                                        &nbsp;
                                    </p>
                                    <div class="pi">
                                        <p class="sale">50%</p>
                                        <ul class="inf">
                                            <!--<li>0원</li>-->
                                            <li>1Pi당 10,000원</li>
                                            <li>경기 하남시 덕풍동로 11...&nbsp;</li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="__box swiper-slide box7">
                            <a href="./sub01_01_view.html?NO=612&B_CATE=276" class="in">
                                <div class="img"><a href="./sub01_01_view.html?NO=612&B_CATE=276"><i
                                        style="background-image:url(/NEW_MASTER/goods/Download/pis_20241017161032.jpg);"></i></a>
                                </div>
                                <div class="info">
                                    <div class="ddakji"><span class="__ico blueLine">매장사용</span></div>
                                    <p class="subject"><a href="./sub01_01_view.html?NO=612&B_CATE=276">한샘리하우스대리점
                                        더조은공간 </a></p>
                                    <p class="sum">&nbsp;
                                        인테리어,리모델링
                                        한샘가구(싱크대,붙박이장외)
                                        바스
                                        창호
                                        전체 리모델링공사
                                        문의 : 010-9333-7400
                                        &nbsp;
                                        &nbsp;
                                    </p>
                                    <div class="pi">
                                        <p class="sale">20%</p>
                                        <ul class="inf">
                                            <!--<li>0원</li>-->
                                            <li>1Pi당 10,000원</li>
                                            <li>광주 북구 각화대로 49&nbsp;</li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="__box swiper-slide box8">
                            <a href="./sub01_01_view.html?NO=611&B_CATE=282" class="in">
                                <div class="img"><a href="./sub01_01_view.html?NO=611&B_CATE=282"><i
                                        style="background-image:url(/NEW_MASTER/goods/Download/pis_20241016191039.jpg);"></i></a>
                                </div>
                                <div class="info">
                                    <div class="ddakji"><span class="__ico blueLine">매장사용</span></div>
                                    <p class="subject"><a href="./sub01_01_view.html?NO=611&B_CATE=282">트리헤어 </a></p>
                                    <p class="sum">&nbsp;
                                        고객한분 한분 맞춤형으로
                                        만족을 높이고있습니다
                                        문제성두피크리닉,두피제품, 헤어(머리결을우선합니다,네츄럴펌강추),얼굴,등 테라피추천드려요
                                        문의 : 010-3414-9092

                                    </p>
                                    <div class="pi">
                                        <p class="sale">40%</p>
                                        <ul class="inf">
                                            <!--<li>0원</li>-->
                                            <li>1Pi당 10,000원</li>
                                            <li>세종특별자치시 나성북1...&nbsp;</li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="__box swiper-slide box9">
                            <a href="./sub01_01_view.html?NO=609&B_CATE=277" class="in">
                                <div class="img"><a href="./sub01_01_view.html?NO=609&B_CATE=277"><i
                                        style="background-image:url(/NEW_MASTER/goods/Download/pis_20241016171027.jpg);"></i></a>
                                </div>
                                <div class="info">
                                    <div class="ddakji"><span class="__ico blueLine">매장사용</span></div>
                                    <p class="subject"><a href="./sub01_01_view.html?NO=609&B_CATE=277">생바지락칼제비 </a></p>
                                    <p class="sum">&nbsp;
                                        강원특별자치도 강릉시 교동택지에 위치한 생바지락칼제비 입니다.
                                        영업시간,메뉴,위치등 매장에 대한 자세한 사항은 네이버에 잘 안내되어 있습니다.
                                        라스트 오더 이전에 바지락이 소진 되면 조기마감 됩니다.


                                        미약하지만 파이 생태계에 도움이 되고자 파이결재 도입 합니다.
                                        가격,메뉴,방문시간,하루한정 기타등등 묻지도 따지지도 않고 무조건 100% 파이 결재 가능합니다.
                                        이로인해 혹시나 저의 생계가 위태로워 진다면 추후 비율이 변경될 수도 있습니다^^
                                        문의 : 010-3244-0407

                                    </p>
                                    <div class="pi">
                                        <p class="sale">100%</p>
                                        <ul class="inf">
                                            <!--<li>0원</li>-->
                                            <li>1Pi당 10,000원</li>
                                            <li>강원특별자치도 강릉시 하...&nbsp;</li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="__box swiper-slide box10">
                            <a href="./sub01_01_view.html?NO=608&B_CATE=277" class="in">
                                <div class="img"><a href="./sub01_01_view.html?NO=608&B_CATE=277"><i
                                        style="background-image:url(/NEW_MASTER/goods/Download/pis_20241016171034.jpg);"></i></a>
                                </div>
                                <div class="info">
                                    <div class="ddakji"><span class="__ico orangeLine">온/오프라인</span></div>
                                    <p class="subject"><a href="./sub01_01_view.html?NO=608&B_CATE=277">문전성시장수오리 </a>
                                    </p>
                                    <p class="sum">&nbsp;
                                        저희 문전성시 장수오리는
                                        10 년간 신선한 식품이 맛을 좌우 한다는 일념으로 오리요리 전문 매장으로 청주 또는 인근 지역에서 많은 사랑을 받고 있는 지역 유명
                                        맛집입니다.
                                        배달을 원하시는 경우 0.5파이가 추가됩니다.&nbsp;

                                    </p>
                                    <div class="pi">
                                        <p class="sale">30%</p>
                                        <ul class="inf">
                                            <!--<li>0원</li>-->
                                            <li>1Pi당 10,000원</li>
                                            <li>충북 청주시 흥덕구 서부로...&nbsp;</li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>


                </div>
                <button type="button" class="btn prev">PREV</button>
                <button type="button" class="btn next">NEXT</button>
            </div>
        </div>

        <!-- 메인 하단 푸터 바로 위 -->


        <div class="section section9 fp-auto-height flotBanB">

            <div id="footer">
                <div class="head">
                    <a href="/sub06_01.html">위치기반서비스 이용약관</a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    <a href="/sub06_03.html">이용약관</a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    <a href="/sub06_02.html">개인정보 처리방침</a>

                </div>

                <div class="inprotlink">
                    <a href="javascript:copyToClipBoard2();">웹모바일 공유</a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<!--                    <a href="javascript:copyToClipBoard3();">구글 스토어 다운링크</a>-->
                </div>

                <div class="inner">
                    <div class="foot">
                        <address>
                            <span>상호명 : 상호명넣기</span>
                            <span>사업자번호 : 번호 넣기</span>
                            <span>대표자 : 이름 넣기</span>
                            <span>이메일 : 이메일 넣기</span>
                            <span>통신판매신고번호 : 넣기</span>
                        </address>
                    </div>
                </div>
            </div>

            <!-- 번역 -->
            <div class="gtranslate_wrapper gt_container-unisv1">
                <div class="gtranslate_wrapper"></div>
            </div>
            <script>window.gtranslateSettings = {
                "default_language": "ko",
                "native_language_names": true,
                "detect_browser_language": true,
                "wrapper_selector": ".gtranslate_wrapper",
                "flag_size": 16,
                "horizontal_position": "left",
                "vertical_position": "bottom",
                "alt_flags": {"en": "usa", "pt": "brazil", "es": "argentina", "fr": "quebec"}
            }</script>
            <script src="https://cdn.gtranslate.net/widgets/latest/popup.js" defer></script>
            <!-- 번역 -->

            <button type="button" id="gotop"><i class="axi axi-arrow-up"></i></button>

            <footer id="footer" class="comMarb" style="padding-bottom:35px;">Copyright © 2022 파이스토어 All rights reserved.
<!--                <br class="__m">Design by <a href="http://designcre.com/" target="_blank"><img src="/images/foot_logo.png" alt="" /></a> 홈페이지 제작 전문업체</footer>-->

            <!--div class="floatBan">
                <ul>
                    <li><a href="https://www.bitget.com/expressly?channelCode=fgvm&vipCode=n5hd&languageType=0" target="_blank"><img src="/img/foot_banBit.jpg"></a></li>
                    <li><a href="https://www.mexc.kr/ko-KR/register?inviteCode=mexc-1Lah6" target="_blank"><img src="/img/foot_banMexc.jpg"></a></li>
                </ul>
            </div-->


            <script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
            <script type="text/javascript">
                // STEP 2. na_account_id(네이버공통키) 세팅
                if (!wcs_add) var wcs_add = {};
                wcs_add["wa"] = "s_XXXX"; // wcs_add["wa"]="na_account_id" , 확인된/전달받은 na_account_id(네이버공통키) 세팅
                //STEP 3. Referrer, 현재 페이지 URL, 사용자 환경 등의 정보를 변수에 세팅 및 전환로그 수집을 위한 Cookie등의 세팅
                if (!_nasa) var _nasa = {};
                wcs.inflow("XXX.com");
                // PC사이트와 모바일사이트의 웹로그 합하여 분석하는 경우 사이트 최상위 도메인 입력. PC와 모바일사이트를 각각 별도로 분석하고 싶은 경우 값을 비워둠.
                // STEP 4. 변수에 세팅된 각종 정보 + 전환정보를 (네이버의) 웹로그수집서버에 전송. 전송하는 method이므로 항상 STEP 1, 2, 3 보다나중에 있어야 함. (변수 세팅 등이 되지 않은 상황에서 먼저 전송하면 웹로그 수집에 오류가 발생함.)
                wcs_do(_nasa);

                function copyToClipBoard2() {
                    var content = document.getElementById('wow3');
                    content.select();
                    document.execCommand('copy');
                    alert("복사되었습니다.");
                }

                // function copyToClipBoard3() {
                //     var content = document.getElementById('wow4');
                //     content.select();
                //     document.execCommand('copy');
                //     alert("복사되었습니다.");
                // }
            </script>
<!--            <form name="foot_frm2" id="foot_frm2">-->
<!--                <input class="adree_bot" type="text" name="wow3" id="wow3" value="https://www.pistore.info"/>-->
<!--                <input class="adree_bot" type="text" name="wow4" id="wow4"-->
<!--                       value="https://play.google.com/store/apps/details?id=com.pistore.android"/>-->

<!--            </form>-->
        </div>
    </div>
</div>


<script>
    var main = {
        init: function () {
            this.action();
        }, action: function () {
            var a = $('#main');
            var vis = $('#vis');
            var gotop = $('#gotop');

            a.fullpage({
                anchors: ['1', '2', '3', '4', '5', '6', '7', '8', '9'],
                css3: false,
                scrollingSpeed: 800,
                lockAnchors: true,
                responsive: 100000,
                onLeave: function (index, nextIndex, direction) {
                    if (nextIndex == 1) {
                        $('#gotop').removeClass('show');
                        $OBJ.html.removeClass('hideMenu');
                    } else {
                        $('#gotop').addClass('show');
                        $OBJ.html.addClass('hideMenu');
                    }
                }
            });
            gotop.on('click', function () {
                $.fn.fullpage.moveTo(1);
            });
            var visSwiper = new Swiper('#vis', {
                loop: true,
                speed: 1000,
                autoplay: {
                    delay: 5000,
                    disableOnInteraction: false,
                },
                navigation: {
                    nextEl: '#vis .next',
                    prevEl: '#vis .prev',
                }
            });
            var bSwiper = new Swiper('.__pdt', {
                slidesPerView: 2,
                spaceBetween: 10,
                loop: false,
                rewind: true,
                speed: 1000,
                autoplay: {
                    delay: 5000,
                    disableOnInteraction: false,
                },
                navigation: {
                    nextEl: '.section4 .next',
                    prevEl: '.section4 .prev',
                },
                grid: {
                    fill: 'row',
                    rows: 5,
                },
                breakpoints: {
                    1024: {
                        loop: true,
                        rewind: false,
                        slidesPerView: 5,
                        spaceBetween: 20,
                        grid: {
                            rows: 1,
                        }
                    }
                },
            });
        }
    };
    main.init();
</script>
</body>
</html>